apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-config
data:
  AIRFLOW_HOME: /home/airflow
  AIRFLOW__CORE__EXECUTOR: KubernetesExecutor
  AIRFLOW__KUBERNETES_EXECUTOR__NAMESPACE: airflow
  AIRFLOW__KUBERNETES_EXECUTOR__POD_TEMPLATE_FILE: /home/airflow/pod_templates/pod_template.yaml
  AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS: "False"
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__UNIT_TEST_MODE: "False"
  AIRFLOW__CORE__DAGS_FOLDER: /home/airflow/dags
  AIRFLOW__CORE__BASE_LOG_FOLDER: /home/airflow/logs
  AIRFLOW__LOGGING__COLORED_LOG_FORMAT: "[%%(blue)s%%(asctime)s%%(reset)s] {%%(filename)s:%%(lineno)d} %%(levelname)s - %%(message)s"
  AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS: "False"
  AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "False"
  AIRFLOW__WEBSERVER__AUTH_BACKEND: airflow.contrib.auth.backends.password_auth
  AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL: "30"
  # DAG processor config for Airflow 3.0
  AIRFLOW__CORE__DAG_PROCESSOR_MANAGER_LOG_LOCATION: /home/airflow/logs/dag_processor_manager/dag_processor_manager.log
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: airflow-pod-template
data:
  pod_template.yaml: |
    apiVersion: v1
    kind: Pod
    metadata:
      name: airflow-task-pod
      namespace: airflow
    spec:
      serviceAccountName: airflow
      restartPolicy: Never
      containers:
        - name: airflow-task
          image: apache/airflow:3.0.1-python3.12
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret
