# logs-pvc.yaml
# PVC for Airflow logs using dynamic provisioning.

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  name: logs-local-pvc
  namespace: airflow-core
  labels:
    app: airflow
    part-of: gitops-poc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: "standard"
