# logs-pvc.yaml
# Define the PVC for Airflow logs using production-grade dynamic provisioning.

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: logs-local-pvc
  namespace: airflow
  labels:
    app: airflow
    environment: dev
    part-of: gitops-poc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: "standard" # Use dynamic provisioning
