apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      serviceAccountName: airflow
      containers:
        - name: scheduler
          image: apache/airflow:3.0.0-python3.12
          command: ["airflow", "scheduler", "--skip-serve-logs"]
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret
          volumeMounts:
            - name: airflow-logs
              mountPath: /home/airflow/logs
            - name: dags
              mountPath: /home/airflow/dags
            - name: pod-template
              mountPath: /home/airflow/pod_templates
              readOnly: true
          livenessProbe:
            exec:
              command:
                - /bin/bash
                - -c
                - "airflow jobs check --job-type SchedulerJob --hostname $(hostname)"
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 30

        # --- git-sync sidecar: pulls DAGs from remote repo ---
        - name: dag-sync
          image: registry.k8s.io/git-sync/git-sync:v4.2.3
          args:
            - --repo=https://github.com/UtkarshChakrwarti/remote_airflow.git
            - --branch=main
            - --period=30s
            - --link=repo
            - --root=/git
          volumeMounts:
            - name: dags
              mountPath: /git
          resources:
            requests:
              cpu: "50m"
              memory: "32Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"

      volumes:
        - name: airflow-logs
          persistentVolumeClaim:
            claimName: dev-logs-local-pvc
        - name: dags
          emptyDir: {}
        - name: pod-template
          configMap:
            name: airflow-pod-template
