apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-webserver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-webserver
  template:
    metadata:
      labels:
        app: airflow-webserver
    spec:
      serviceAccountName: airflow
      containers:
        - name: webserver
          image: apache/airflow:3.0.0-python3.12
          ports:
            - containerPort: 8080
          command:
            - /bin/bash
            - -c
            - |
              echo "{\"admin\":\"${AIRFLOW_ADMIN_PASSWORD}\"}" > /home/airflow/passwords.json
              exec airflow api-server
          env:
            - name: AIRFLOW_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: airflow-secret
                  key: admin-password
            - name: AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_PASSWORDS_FILE
              value: "/home/airflow/passwords.json"
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secret
          volumeMounts:
            - name: airflow-logs
              mountPath: /home/airflow/logs
            - name: dags
              mountPath: /home/airflow/dags
            - name: pod-template
              mountPath: /home/airflow/pod_templates
              readOnly: true
          livenessProbe:
            httpGet:
              path: /public/monitor/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /public/monitor/health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5

        # --- git-sync sidecar: pulls DAGs from remote repo ---
        - name: dag-sync
          image: registry.k8s.io/git-sync/git-sync:v4.2.3
          args:
            - --repo=https://github.com/UtkarshChakrwarti/remote_airflow.git
            - --ref=main
            - --period=30s
            - --link=repo
            - --root=/git
          volumeMounts:
            - name: dags
              mountPath: /git
          resources:
            requests:
              cpu: "50m"
              memory: "32Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"


      volumes:
        - name: airflow-logs
          persistentVolumeClaim:
            claimName: dev-logs-local-pvc
        - name: dags
          emptyDir: {}
        - name: pod-template
          configMap:
            name: airflow-pod-template
