apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: airflow-pac-qacluster03
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/UtkarshChakrwarti/k8-argo-cd.git
    path: SOE_myntra_k8s_apps/k8s_config_files/pac-qacluster03/airflow
    targetRevision: feature/multi-namespace-executor
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
