apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: mysql

namePrefix: dev-

labels:
  - pairs:
      environment: dev

replicas:
  - name: mysql
    count: 1
